.button {
  display: grid;
  place-content: center;
  border: none;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 4rem;
  height: 7rem;
  background-color: var(--accent);
  color: var(--text-dark);

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--background);
    color: var(--text);
  }
}
