.button {
  display: grid;
  place-content: center;
  border: none;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 4rem;
  height: 7rem;
  max-width: 600px;
  background-color: var(--accent);
  color: var(--text-dark);
  transition: transform 0.2s 0.1s ease-out;

  &.light {
    background-color: var(--light);

    &:hover {
      background-color: #e8e8e8;
      color: #464646;
    }

    &:active {
      box-shadow: 0 2rem 15rem rgba(255, 255, 255, 0.4);
      transform: scale(0.9);
    }
  }

  &.dark {
    background-color: var(--background);
    color: var(--text);

    &:hover {
      background-color: #2f2f2f;
      cursor: url("/cursor_pointer.png") 5 0, pointer;
    }
    &:active {
      background-color: #47230f;
      box-shadow: 0 2rem 15rem rgba(255, 255, 255, 0.4);
      transform: scale(0.9);
    }
  }

  &.bottom {
    margin-top: 2vh;
  }

  &:hover {
    background-color: #ff782d;
    cursor: url("/cursor_pointer.png") 5 0, pointer;
  }

  &:active {
    background-color: #ffa16c;
    box-shadow: 0 2rem 15rem rgba(255, 255, 255, 0.4);
    transform: scale(0.9);
  }
}
