.main__container {
  position: fixed;
  overflow: hidden;
}

.main__container > section {
  height: 100vh;
  width: 100vw;
  padding: 10vh 10vw 0;
  display: flex;
  flex-direction: column;
}

.main__container_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__intro_text {
  width: 60%;
  margin: 10vh 0 24vh;
  text-align: center;
}

.container__intro_button {
  margin-bottom: 1vh;
}

.container__intro_disclaimer {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 4vh;
}

.container__intro_info {
  width: 40%;
  text-align: center;
  margin-top: 2vh;
}

.experience__step {
  display: flex;
  flex-direction: column;
}

.experience__step_content {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.step__content_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  &.right {
    align-items: flex-end;
  }
}

.step__content_text > p {
  margin-bottom: 2vh;
}

.title {
  line-height: 1.15;
  font-size: 7rem;
  font-family: Renogare;
  margin-bottom: 4vh;
}

.highlight {
  color: var(--accent);
}

.button {
  border: none;
  margin-top: 4vh;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 4rem;
  width: 400px;
  height: 7rem;
  background-color: var(--accent);

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--background);
  }

  &:hover {
    cursor: pointer;
  }
}

.experience__1 {
}
.experience__2 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__3 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__4 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__5 {
  position: absolute;
  top: 100vh;
}
.experience__6 {
  position: absolute;
  top: 100vh;
  right: 100vw;
}
.experience__7 {
  position: absolute;
  top: 100vh;
  right: 100vw;
}
.experience__8 {
  position: absolute;
  top: 100vh;
  right: 100vw;
}
.experience__9 {
  position: absolute;
  top: 100vh;
}
.experience__10 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__11 {
  position: absolute;
  left: 100vw;
  top: 0;
}
