.main__container {
  position: fixed;
  overflow: hidden;
}

.main__container > section {
  height: 100vh;
  width: 100vw;
  padding: 10vh 10vw 0;
  display: flex;
  flex-direction: column;
}

.main__container_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__intro_text {
  width: 60%;
  margin: 10vh 0 24vh;
  text-align: center;
}

.container__intro_button {
  margin-bottom: 1vh;
}

.container__intro_disclaimer {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 4vh;
}

.container__intro_info {
  width: 40%;
  text-align: center;
  margin-top: 2vh;
}

.experience__step {
  display: flex;
  flex-direction: column;
}

.experience__step_content {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.step__content_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 2.2rem;

  &.acces {
    width: 60%;
  }
}

.step__content_text > p {
  margin-bottom: 2vh;
}

.content__text_selection {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.text__selection_adv {
  font-size: 4.2rem;
  font-weight: bold;
}

.text__selection_list {
  font-size: 4.2rem;
  display: flex;
  flex-direction: column;
}

.selection__list_item {
  color: var(--accent);
  opacity: 50%;
  padding: 1rem;
  border: solid transparent 2px;

  &:hover {
    opacity: 100%;
    border: solid var(--accent) 2px;
    cursor: pointer;
  }
}

.title {
  line-height: 1.15;
  font-size: 7rem;
  font-family: Renogare;
  margin-bottom: 4vh;
}

.highlight {
  color: var(--accent);
}

.bold {
  font-weight: bold;
}

.button {
  border: none;
  margin-top: 4vh;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 4rem;
  width: 400px;
  height: 7rem;
  background-color: var(--accent);

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--background);
  }

  &:hover {
    cursor: pointer;
  }
}
.experience__2 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__3 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__4 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__5 {
  position: absolute;
  top: 100vh;
}
.experience__6 {
  position: absolute;
  top: 100vh;
  right: 100vw;
}
.experience__7 {
  position: absolute;
  top: 100vh;
  right: 100vw;
}
.experience__8 {
  position: absolute;
  top: 100vh;
  right: 100vw;
}
.experience__9 {
  position: absolute;
  top: 100vh;
}
.experience__10 {
  position: absolute;
  left: 100vw;
  top: 0;
}
.experience__11 {
  position: absolute;
  left: 100vw;
  top: 0;
}

.experience__path {
  width: auto;
  height: auto;
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: -1;
}

.correct {
  color: #51ff8c;

  &:hover {
    border: solid #51ff8c 2px;
  }
}

.wrong {
  color: #ff3535;
  animation: shake 0.5s;

  &:hover {
    border: solid #ff3535 2px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.inner__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.bunnyPicture {
  height: 40vh;
  width: 2000px;
  margin-right: -850px;
}

.music {
  position: absolute;
}

.music__experience {
  height: 50px;
  width: 50px;
  &:hover {
    cursor: url("/cursor_pointer.png"), pointer;
  }
  &.fixed {
    position: fixed;
    top: 25px;
    left: 25px;
  }
}
