//.main__container {
// flex: 1;
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// position: relative;
//}

// .main__container {
//   position: relative;
//   z-index: 0;
// }

.highlight {
  color: var(--accent);
}

.highlight2 {
  color: var(--text);
}

.main__container_intro {
  width: 60vw;
  margin: 20vh 0 26vw 10vw;
}

.container__intro_title {
  margin-bottom: 2.8vw;
}

.container__intro_text {
  width: 60%;
  z-index: 100;
}

.container__intro_buttons {
  margin-top: 8vw;
  display: flex;
  flex-direction: row;
  height: 7rem;
}

.intro__buttons_primary {
  background-color: var(--accent);
  border: none;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 4rem;
}

.intro__buttons_secondary {
  color: var(--text);
  background-color: var(--background);
  border: none;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 4rem;
}

.intro__buttons_or {
  color: var(--background);
  background-color: var(--text);
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 3rem;
  display: grid;
  align-items: center;
}

.main__container_introparallax {
  background-color: black;
  height: 100%;
  z-index: -100;
  padding-bottom: 10rem;
}

.main__container_become {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  margin: 0 auto 4vw;
}

.become__text_title {
  margin-bottom: 2.8vw;
}

.become__text_body {
  width: 70%;
  margin-bottom: 4vw;
}

.become__text_button {
  background-color: var(--accent);
  height: 7rem;
  border: none;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0 5rem;
}

.main__container_whatcanido {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}

.container__whatcanido_img {
  padding: 2rem;
  z-index: 5;
}

.container__whatcanido_text {
  width: 50%;
}

.whatcanido__text_title {
  margin-bottom: 2.8vw;
}

.whatcanido__text_body {
  margin-bottom: 4vw;
}

.whatcanido__text_buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  // width: 70%;
  width: fit-content;
  width: -moz-fit-content;
}

// .text__buttons_ctrl {
//   background-color: var(--accent);
//   border: none;
//   font-weight: bold;
//   font-size: 2.4rem;
//   padding: 0 4rem;
//   height: 7rem;
// }

// .text__buttons_experience {
//   background-color: var(--text);
//   border: none;
//   font-weight: bold;
//   font-size: 2.4rem;
//   padding: 0 4rem;
//   height: 7rem;
// }

/*.parallaxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.infolayerstyle {
  position: absolute;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  line-height: 1.15;
  font-size: 7rem;
  font-family: Renogare;
}

.main__container {
  //original main__container css
  position: relative;
  z-index: 0;

  // crt overlay effect
  line-height: 1.5;
  font-size: 1.5rem;
  &:before {
    background: linear-gradient(
        0deg,
        rgba(255, 0, 0, 0.25) 20%,
        rgba(0, 255, 0, 0.25) 33%,
        rgba(0, 255, 0, 0.25) 53%,
        rgba(0, 0, 255, 0.25) 66%,
        rgba(0, 0, 255, 0.25) 0,
        rgba(255, 0, 0, 0.25)
      ),
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        hsla(0, 0%, 100%, 0.5) 11%,
        hsla(0, 0%, 100%, 0.5) 22%,
        rgba(0, 0, 0, 0.5) 33%,
        hsla(0, 0%, 100%, 0.5) 44%,
        hsla(0, 0%, 100%, 0.5) 55%,
        rgba(0, 0, 0, 0.5) 66%,
        hsla(0, 0%, 100%, 0.5) 77%,
        hsla(0, 0%, 100%, 0.5) 88%,
        rgba(0, 0, 0, 0.5) 99%
      ),
      linear-gradient(90deg, #fff 25%, #000 50%, #000 75%, #fff);
    background-repeat: repeat;
    background-size: 0.6em 1em;
    mix-blend-mode: overlay;
    opacity: 0.15;
    // SPACER
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    position: fixed;

    animation: Animation 5s linear infinite;
  }

  @keyframes Animation {
    0% {
      background-position: 0;
    }
    97% {
      background-position: 0;
    }
    98% {
      background-position: 0% 6%;
    }
    100% {
      background-position: 0;
    }
  }
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.parallax__img {
  position: relative;
  will-change: transform;
  width: 45vw;
  height: 45vw;
}

.parallax__img_fullwidth {
  // position: absolute;
  overflow: visible;
  min-width: 140%;
  margin-left: -10%;
}

.parallax__img_surfer {
  position: absolute;
  top: 0vh;
  right: 16vw;
  z-index: 1;
}

.parallax__img_bgWave {
  position: absolute;
  top: 18vh;
  right: -1vw;
  z-index: -3;
}

.parallax__img_mainWave {
  position: absolute;
  top: 20vh;
  right: 18vw;
  z-index: -2;
}

.threejs__object {
  position: absolute;
  width: auto;
  margin-top: -30vh;
  right: 3vw;
}

// .footer {
//   border: none;
//   padding: 0 10% 2vw;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   height: 100%;
//   margin-top: -26vw;
// }

.footer__title {
  color: black;
  font-size: 5rem;
  font-family: renogare;
  margin-bottom: 1.8rem;
}

.footer__body {
  color: var(--accent);
  font-size: 2.8rem;
  font-weight: 100;
  margin-bottom: 4rem;
}

.footer__names {
  color: black;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footer__names_name {
  font-size: 2.8rem;
}

// .footer__bg {
//   position: absolute;
//   left: 0;
//   width: 100%;
//   height: 90rem;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: -1;
//   background-image: url("/footer_bg.svg");
// }

.footer {
  width: 100%;
  // background: linear-gradient(to bottom left, var(--accent), var(--text) 50%);
  // background-color: var(--text);
  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   // top: 0;
  //   right: 0;
  //   bottom: 0;

  //   background-color: var(--text);
  //   height: 10rem;
  // }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    // top: 0;
    right: 0;
    // bottom: -65vh;
    height: 50rem;
    // background-color: var(--text);
    background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0) 50%, var(--text) 50%);
    // transform: skewY(10deg);
    transform-origin: 0;
    overflow: hidden;
  }
}

// .button {
//   display: grid;
//   place-content: center;
//   border: none;
//   font-weight: bold;
//   font-size: 2.4rem;
//   padding: 0 4rem;
//   height: 7rem;
//   background-color: var(--accent);
//   color: var(--text-dark);

//   &.light {
//     background-color: var(--light);
//   }

//   &.dark {
//     background-color: var(--background);
//     color: var(--text);
//   }
// }

.button__container {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  width: fit-content;
  width: -moz-fit-content;
}

@media only screen and (min-width: var(--small-screen)) and (max-width: var(--medium-screen)) {
  .main__container {
    color: green;
  }
}
