.navbar {
  position: absolute;
  width: 90vw;
  margin-left: 5vw;
  top: 0;

  @media screen and (max-width: 640px) {
    width: 100%;
    margin: 0;

    &.active {
      padding-bottom: 2rem;
      background-color: var(--background);
    }
  }
}

.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem;
  justify-content: space-between;

  &.active {
    flex-direction: column;
  }
}

.navbar__list_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar__list_logo {
  & > a:hover {
    cursor: url("/cursor_pointer.png") 5 0, pointer;
  }
}

.navbar__list_interactions {
  display: flex;
  flex-direction: row;
  gap: 4rem;

  @media screen and (max-width: 640px) {
    display: none;

    &.active {
      display: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 2rem;
    }
  }
}

.list__interactions_link {
  font-size: 2rem;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--accent);
    cursor: url("/cursor_pointer.png") 5 0, pointer;
  }

  &:active {
    text-decoration: underline;
  }

  & > a {
    cursor: url("/cursor_pointer.png") 5 0, pointer;
  }
}

.navbar__list_hamburger {
  display: none;

  @media screen and (max-width: 640px) {
    display: unset;
  }
}
